/* ! * {
    border: 1px solid black;
} */

header {
    display: inline-block;
}

main {
    margin-top: 2rem;
    justify-content: center;
}

#highscoreBtn {
    margin-top: 2rem;
    margin-left: 4rem;
}

.timer {
    margin-top: 2rem;
    margin-right: 4rem;
}

.answerBtn {
    margin: 20px;
}

#titleDiv,
#introDiv,
#startDiv {
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}

#answerDiv {
    display: inline-block;
}
